/*Fizz Buzz CSS*/
h1 {
	font-size:2em;
}

.count-off, main, h1{
	margin:0 auto;
	text-align:center;
}

main {
	width:80%;
	background-color:white;
}
body{
	background-color:blue;
}

.count-off {
	list-style-type:none;
}

.count-off:nth-child(3) {
	font-size:1.2em;
	color:blue;
}

.count-off:nth-child(5) {
	font-size:1.4em;
	color:red;
}